<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241732383553-eq80u5heqkf3774fqsgr99rkhfdur3ii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241732383553-eq80u5heqkf3774fqsgr99rkhfdur3ii</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>241732383553-eh5gl2q1q17qu9atgjond8hct29nl39o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDv5Te7Keqtc6S6PiWlOfC9WdcnL3DOOrc</string>
	<key>GCM_SENDER_ID</key>
	<string>241732383553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.rochajohnathan.weatherApp</string>
	<key>PROJECT_ID</key>
	<string>weather-app-5a12e</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-app-5a12e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241732383553:ios:fd83843fe2d909803fe7c0</string>
	<key>DATABASE_URL</key>
	<string>https://weather-app-5a12e-default-rtdb.firebaseio.com</string>
</dict>
</plist>